<li id="<%= dom_id todo %>" data-controller="todo">
  <input class="mx-6" <%= todo.complete? ? "checked" : "" %> type="checkbox" value="status_box" data-action="click->todo#toggle" />
  <span class="mx-6 font-bold"><%= todo.task %></span> 
  <span class="mx-6"><%= todo.due_on.strftime('%A %b %Y %e %r ') %></span>
  
  <% if action_name != "show" %>
    <%= link_to edit_todo_path(todo) do %>
    <%= heroicon "pencil-square", options: { class: "w-9 inline bg-inherit" } %>
    <% end %>
    <div class="inline-block ml-2">

      <%= button_to todo_path(todo), method: :delete, class: "mt-2 rounded-lg py-3 px-5" do %>
          <%= heroicon "trash", options: { class: "w-9 inline bg-inherit" } %>
      <% end %>
        </div>
    <hr class="mt-6">
  <% end %>
</li>
