<div class="w-full">
  <% if user_signed_in? &&  current_user.todos.empty? %>
   <h1><%= current_user.email.capitalize %> as no Todo's.</h1>
  <% else %>
    <h1>Total Todo's: <%= current_user.todos.length %></h1>
  <% end %>

  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div id="search" class="flex justify-end items-center" >
    <%= form_with url: "/todos", data: { turbo_frame: "todos", turbo_action: "advance"}, method: :get do |form| %>
      <%= form.label :query, "Search for:" %>
      <%= form.text_field :query, data: {action:"keyup->search#doSearch"}, class:"rounded-lg border-2 shadow-lg border-black" %>
      <%= form.submit "Search", class:"rounded-lg border-2 border-black p-2 bg-blue-500"  %>
    <% end %>
  </div>

    <h1 class="font-bold text-4xl">Todos</h1>
  <div class="flex space-x-4 items-end gap-0">
    <%= link_to 'New todo', new_todo_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
    <%= link_to "Completed", completed_path, class: "rounded-lg py-3 px-5 bg-green-600 text-white block font-medium inline" %> 
  </div>

  <%= render partial: "todos" %>
</div>